<!-- Section E: Family & Social Impact -->
<div class="question-group">
    <div class="question">20. Do family members complain about the time you spend online/gaming?</div>
    <div class="options">
        <label class="option"><input type="radio" name="q20" value="yes" required {% if form.get('q20') == 'yes' %}checked{% endif %}> <span>Yes</span> <span class="score-display">3 pts</span></label>
        <label class="option"><input type="radio" name="q20" value="no" {% if form.get('q20') == 'no' %}checked{% endif %}> <span>No</span> <span class="score-display">1 pt</span></label>
    </div>
</div>
<div class="question-group">
    <div class="question">21. Have your relationships with friends/family been negatively affected by your online/gaming habits?</div>
    <div class="options">
        <label class="option"><input type="radio" name="q21" value="yes" required {% if form.get('q21') == 'yes' %}checked{% endif %}> <span>Yes</span> <span class="score-display">4 pts</span></label>
        <label class="option"><input type="radio" name="q21" value="no" {% if form.get('q21') == 'no' %}checked{% endif %}> <span>No</span> <span class="score-display">1 pt</span></label>
    </div>
</div>
<div class="question-group">
    <div class="question">22. Do you skip going out/meeting people to stay online or play?</div>
    <div class="options">
        <label class="option"><input type="radio" name="q22" value="yes" required {% if form.get('q22') == 'yes' %}checked{% endif %}> <span>Yes</span> <span class="score-display">4 pts</span></label>
        <label class="option"><input type="radio" name="q22" value="no" {% if form.get('q22') == 'no' %}checked{% endif %}> <span>No</span> <span class="score-display">1 pt</span></label>
    </div>
</div>
